<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Display</title>
</head>
<body>
    <%- include("Partials/header.ejs") %>
    <div class="min-vh-100">
        <div class="container my-5">
            <div class="row flex-row justify-content-evenly">
                <div class="content col-12 col-xxl-8 col-xl-8 p-4">
                    <ul class="p-0">
                        <%if(posts.length==0){%>
                            <h1>No Posts To Display!!</h1>
                        <% }%>
                        <% posts.forEach(post => { %>
                            <% const d=new Date(); %>
                            <li class="p-1">
                                <p class="fs-6 fw-light"><%= d.getMonth()+"/"+d.getDate()+"/"+d.getFullYear() %></p>
                                <h3 class="fs-2 pt-serif"><a href="/Delete"><%= post.title %></a></h3>
                                <p class="fs-5 my-4"><%= post.content %></p>
                                <hr>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <div id="aside" class="content col-3 d-none d-lg-none d-md-none d-sm-none d-xl-block">
                    <div class="text-center my-4">
                        <a href="/Add"><button class="btn btn-light fs-5 btn-lg button-rad" style="width: 90%;">Create Post</button></a>
                    </div>     
                    <div class="px-3">
                        <%if(posts.length==0){%>
                            <h1>No Posts To Display!!</h1>
                        <% }%>
                        <%if(posts.length>0){%>
                        <p>RECENT POSTS</p>
                        <ul class="p-0">
                            <% posts.forEach(post => { %>
                                <li>
                                    <h3 class="fs-6 pt-serif"><a style="text-decoration: none;" href="/Delete"><%= post.title %></a></h3>
                                    <hr>
                                </li>
                                
                            <% }); %>
                            <%}%>
                        </ul>
                    </div>     
                </div>
            </div>
        </div>
    </div>
    <%- include("Partials/footer.ejs") %>
</body>
</html>